*{
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

.navigasi{
	width: 1100px;
	margin: auto;
	position: relative;
}

.logo a{
	font-size: 50px;
	font-weight: 600;
	float: left;
	font-family: fantasy;
    color: #5CB8E4;
}

.menu{
	float: right;
}

nav{
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	position: sticky;
	position: -webkit-sticky; 
	top: 0;
	background: black;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li{
	float: left;
}

nav ul li a{
	color: #87A2FB;
	font-weight: bold;
	text-align: center;
	padding: 0px 15px 0px 15px;
	text-decoration: none;
}

nav ul li a:hover{
	text-decoration: underline;
}

section{
	margin: auto;
	display: flex;
	margin-bottom: 50px;
}

.kolom{
	margin-top: 50px;
	margin-bottom: 50px;
}

.kolom .deskripsi{
	font-size: 25px;
	font-weight: bold;
	font-family: 'comic sans ms';
	color:  #6A2C70;
}

h2{
	font-family: 'comic sans ms';
	font-weight: 800;
	font-size: 40px;
	margin-bottom: 20px;
	color: #6A2C70;
	width: 100%;
	line-height: 50px;
}

a.tombol{
	background: #5800FF;
	border-radius: 20px;
	margin-top: 20px;
	padding: 15px 20px 15px 20px;
	color: #ffffff;
	cursor: pointer;
	font-weight: bold;
}

a.tombol:hover{
	background: #72FFFF;
}

p{
	margin:  20px  20px  0px  5px;
	padding: 10px 0px 10px 0px;
}

#Home img{
	width: 300px;
    margin: 30px;
	border: 10px solid black;
    padding: 15px;
	animation: backwards;
}

#Contact{
    background: #dedede;
    padding: 50px 0px 50px 0px;
}

.footer{
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.footer-section{
    width: 20%;
    margin: 0 auto;
}

.footer-section img{
	width: 150px;
    border-radius: 50%;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #1C3879;
    width: 100%;
    line-height: 50px;
}

#copyright{
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}

 